<div class="container">
  <%= render '/components/sidebar_right'%>
  <div class="col-sm-6">
    <div class="body-card">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3><%= @user.name %>'s tweets</h3>
        </div>
        <div>
          <ul class="List-group">
            <li>
              <b><%= link_to @user.name%></b>
              <small>@<%= @user.name%>
                <%= time_ago_in_words(@post.created_at) %>
              </small>
              <p><%= @post.content%></p>
              <% if current_user.present? && @post.user_id == current_user.id %>
              <%= link_to 'Delete', post_path(@post.id),
              method: :delete,
              data: {confirm: 'Are you sure?'} %>
              <% end %>
              <%= link_to 'Retweet', post_path%>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
