<div class="container">
  <%= render '/components/sidebar_right'%>
  <div class="col-sm-6">
      <div class="panel panel-info margin-bottom-zero">
        <div class="panel-heading ">
          <h3 class="panel-title"><%= @user.name %>'s tweets</h3>
        </div>
        <div class="panel-body">
        <!--
          <ul class="list-group margin-bottom-zero">
            <li class="list-group-item" style="list-style:none"> -->
              <b><%= link_to @user.name%></b>
              <small>@<%= @user.name%>
                <%= time_ago_in_words(@post.created_at) %>
              </small>
              <p><%= @post.content%></p>
              <% if current_user.present? && @post.user_id == current_user.id %>
              <%= link_to 'Delete', post_path(@post.id),
              method: :delete,
              data: {confirm: 'Are you sure?'} %>
              <% end %>
              <%= link_to 'Retweet', post_path%>
              <!--
            </li>
          </ul> -->
        </div>
      </div>

    <div class="panel panel-info">
      <div class="panel-heading">
          <h3 class="panel-title">Comments</h3>
      </div>
      <div>
       <!-- <ul> -->
          <% @post.comments.each do |comment| %>
          <% @user = comment.user%>
            <% if @user %>
            <!--  <li class="list-group-item list-style"> -->
              
                <b><%= link_to @user.name, user_path(@user) %></b>
                <small>@<%= @user.username %> 
                <%= time_ago_in_words(comment.created_at) %></small>
                <p> <%= comment.body %> </p>
                <%= link_to 'Delete', [comment.post, comment], 
                method: :delete,
                data: {confirm: 'Are you sure?'}%>
              </li>
            <% end %>
          <% end %>
          <li style="list-style:none">
            <%= render '/components/create_comment'%>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
