<div class="container">
  <%= render '/components/sidebar_right'%>
  <div class="col-sm-8">
  		<%= render '/components/create_tweet'%>
			<div class="panel panel-info">
				<div class="panel-heading">
		    	<h3 class="panel-title">Public Tweets</h3>
		  	</div>
		  	<div>
			    <ul class="list-group retweet-list">
			      <% @posts.each do |tweet| %>  
			    		<li class="list-group-item " id="list-<%= tweet.id %>" >
				        <%= render partial: '/components/display_tweets', locals: {tweet: tweet} %>
				      </li>
			      <% end %>
			    </ul>
			    <%= will_paginate @posts %>
			    
			  </div>
		  </div>
  </div>
</div>