<div class="container">

  <% if current_user %>
    <div class="col-sm-offset-1 col-sm-5">
      <h1>Your Twitter Profile</h1>  
      <div class="profile_image"><%= image_tag(current_user.avatar.url(:medium)) %><br></div>
      <span class="name"><b><%= link_to current_user.name, post_path(current_user) %></b></span> @<%= current_user.username %>
      <p>
        <%= current_user.posts.size %> Tweets
        <span class="spacing"><%= current_user.followers.count%>  Followers</span>
        <span class="spacing"><%= current_user.following.count%> Following</span>
      </p>
    </div>
  <% end %>

  <div class="col-sm-4">
    <h1>Create a Tweet</h1>
    <p>
    <%= form_for @post do |f| %>
        <%= f.text_area :content, class: 'form-control' %><br>
        <%= f.submit "Tweet!" , class: 'btn btn-primary' %>
    <% end %>
    </p>

    <h1>Public Tweets</h1>
      <% @posts.each do |tweet| %>  
        <img class="avatar" src="">
        <% if tweet.user %>
          <span class="name"><b><%= link_to tweet.user.name, post_path(tweet.user) %></b></span> 
          <small>@<%= tweet.user.username %> 
          <span class="time"><%= time_ago_in_words(tweet.created_at) %></span></small>
          <p> <%= tweet.content %> </p>
          <% if tweet.user_id == current_user.id %>
            <%= link_to 'Delete', post_path(tweet.id), method: :delete%>
          <%end%>
          <hr>  
        <% end %>
      <% end %>
  </div>
</div>